.user-profile .profile-img-form {
  display: none;
}

.user-profile .img-upload {
  display: none;
}

.user-profile .profile-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.user-profile .profile-img-container .inner-profile-img-container {
  border-radius: 5px;
  background-color: #0000001a;
  border: 1px solid #0000001a;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  background-position: center;
  background-size: cover;
  /* If you want text inside of it */
  background-repeat: no-repeat;
}

.user-profile .profile-img-container .img-change {
  font-weight: bold;
  cursor: pointer;
}

.user-profile .middle {
  display: none;
}

.user-profile .description {
  margin: 0;
}

.user-profile .manage-posts {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 992px) {
  .user-profile .description {
    padding-top: 16px;
    padding-bottom: 8px;
  }
  .user-profile .middle {
    display: initial;
  }
  .user-profile .profile-img-container {
    margin-top: 47px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .user-profile .profile-img-container > div {
    cursor: pointer;
  }
  .user-profile .profile-img-container .middle {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .user-profile .profile-img-container:hover .middle {
    opacity: 1;
  }
  .user-profile .profile-img-container:hover .image {
    opacity: 0.3;
  }
  .user-profile .profile-img-container .text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
  }
}

.post {
  margin: 64px 0 0 0;
}

.post a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.post img {
  width: 100%;
}

.post .card-body {
  padding: 0;
}

.post .card-body .card-text {
  padding: 20px;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-header h5 {
  margin: 0 0 0 8px;
}

.profile-picture-container {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: linear-gradient(135deg, #1c5d8e 0%, #863589 50%, #d63b5d 100%);
}

.profile-picture-container img {
  width: 34px;
  height: 34px;
  margin: 3px;
}

#img-preview-input {
  cursor: pointer;
}

.display-none {
  display: none;
}

.like-alert, .dislike-alert, .comment-alert {
  display: none;
  margin: 0;
}

.iconic-gradient-bg {
  background: linear-gradient(135deg, #1c5d8e 0%, #863589 50%, #d63b5d 100%);
}

.custom_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* custom_modal Content/Box */
  /* The Close Button */
}

.custom_modal .custom_modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 2px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

.custom_modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom_modal .close:hover,
.custom_modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */